<div class="container h-75 w-100">
  <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-8 text-center">
        <%= image_tag("logo.svg",size: "50", alt: "WebRTC on Rails", class: "img-fluid m-2") %>
        <h1>WebRTC on Rails</h1>

      </div>
  </div>
</div>
