<style type="text/css">
      .video_con_buttons{
        text-align: right;
      }
      .video_con_buttons ul li {
        display: inline-block;
        padding: 0 5px;
      }
      .video_con_buttons ul li button {
          border: none;
          background: transparent;
          padding: 0;
        }
        .video_con_buttons ul li button img {
          height: 50px;
        }

        .more_option ul li {
          display: block;
          border-bottom: 1px solid #ddd;
        }
        .more_option .dropdown-menu li:last-child {
          border-bottom: none;
        }
        .more_option .dropdown-menu {
          right: 0px;
          left: inherit !important;
        }
        .more_option .dropdown-toggle:after {
          display: none;
        }
@-webkit-keyframes marquee {
    0% {text-indent:100%;}
    100% {text-indent:-10%}
}

input.marquee {
  -webkit-animation: marquee 5s infinite;
  -webkit-animation-timing-function: linear;
  }


    </style>



<div class="container">

  <div class="row justify-content-center mb-3">
      <div class="col-md-6">
    <% if current_user && @room.user == current_user %>
        <div class="input-group">
          <input
            type="text"
            id="copy-room-name"
            class="form-control marquee"
            value='<%= "#{request.base_url}/rooms/#{@room.slug}" %>'
          >
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" id="copy-button">Click to Copy</button>
          </span>
        </div>
    <% end %>
      </div>
    <div class="col-md-6">
      <div class="video_con_buttons">
          <ul>
            <li id="join-btn-container">
                <button onclick="handleJoinSession()" >
                  <%= image_tag("join_call.png") %>
                </button>
            </li>
            <li id="leave-btn-container">
                <button onclick="handleLeaveSession()">
                  <%= image_tag("leave_call.png") %>
                </button>
            </li>
            <li id="stopvideo"  style="display: none">
              <button >
                <%= image_tag("video_stop.png") %>
              </button>
            </li>

            <li id="startvideo"  style="display: none">
              <button >
                <%= image_tag("video_enable.png") %>
              </button>
            </li>

            <li>
              <div class="more_option">
                  <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                      <%= image_tag("more.png") %>
                    </button>

<ul class="dropdown-menu">
  <% present @room do |room_presenter| %>
    <%= room_presenter.register_link(current_user) %>
    <%= room_presenter.claim_room_link(current_user) %>
    <%= room_presenter.toggle_status_link(current_user) %>
    <%= room_presenter.room_settings_link(current_user) %>
  <% end %>
</ul>



                  </div>
                </div>
            </li>
          </ul>
        </div>
    </div>



  </div>

  <div class="row">
    <div class="col-md-12">
      <span id="room-name" data-room='<%= @room.slug %>'></span>
      <span id="currentUser" data-email='<%= @user.email %>'></span>
      <div id="remoteViewContainer"></div>





    <div id="videos" style="display: none">
        
        <div id="subscribers">
          <div id="publisher"></div>


        </div>
    </div>

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
    <script src="client.js"></script>




<!--       <div id="localViewContainer">
        <video id="selfView" autoplay></video>
      </div> -->
    </div>
  </div>

</div>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>


<script type="text/javascript">
  var sessionId = "<%= @room.session_id %>";
  var token = "<%= @token %>";
  // var token = "T1==cGFydG5lcl9pZD00NjcxNzEzMiZzaWc9ZjgzZWY1MGFiNjgzYTM3OTk0YWYwMGUzODkwMTg3ZDljNjkwOWFkMTpyb2xlPXB1Ymxpc2hlciZzZXNzaW9uX2lkPTFfTVg0ME5qY3hOekV6TW41LU1UVTRPRFU1TVRRMU1UZzVObjVMZFRJd1VYTXhVR2w1V0hNdmRqRTNWMUJpTldKU1lXVi1VSDQmY3JlYXRlX3RpbWU9MTU4ODYwMTIxOSZub25jZT0wLjM0NzE3Mzc2MjQ0NzM3MTY0";
  var api_key = "46717132";
  var apiKey = "46717132";
  var name ;
  <%- if @room.user == current_user %>
    name = "ORGANIZER";
  <% else %>
      name = "";
  <% end %>

</script>


<script type="text/javascript">
  
var btnEnter = document.getElementById('enter');
var stopvideo = document.getElementById('stopvideo');
var startvideo = document.getElementById('startvideo');
var divSelectRoom = document.getElementById('selectRoom');
var divVideos = document.getElementById('videos');
const joinBtnContainer = document.getElementById("join-btn-container");
const leaveBtnContainer = document.getElementById("leave-btn-container");
var session;
var tmp;


function initializeSession() {

    // divSelectRoom.style = "display: none";
    divVideos.style = "display: block";

    session = OT.initSession(apiKey, sessionId);

    // Subscribe to a newly created stream
    session.on('streamCreated', function (event) {
        console.log("streamCreated");
        console.log(event);
        session.subscribe(event.stream, 'subscribers', {
            insertMode: 'append',
            width: '360px',
            height: '240px',
            name: "",
            videoDisabledDisplayMode: true,
            allow: "microphone; camera"
        }, handleError);
    });
    // Create a publisher
    var publisher = OT.initPublisher('publisher', {
        insertMode: 'append',
        width: '360px',
        height: '240px',
        name: name,
        videoDisabledDisplayMode: true,
        allow: "microphone; camera"
    }, handleError);

    console.log(publisher);
    tmp = publisher;

    // Connect to the session
    session.connect(token, function (error) {
        // If the connection is successful, publish to the session
        if (error) {
            handleError(error);
        } else {
            session.publish(publisher, handleError);
        }
    });

    stopvideo.style.display = "initial";

}

// Handling all of our errors here by alerting them
function handleError(error) {
    console.log("errorrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr")
    console.log(error);

    if (error) {
      if(error.code == 1500){
        alert("You neeed to accept the camera service to join the video call");
          // alert(error.message);
          joinBtnContainer.style.display = "initial";
          leaveBtnContainer.style.display = "none";
          stopvideo.style.display = "none";
          startvideo.style.display = "none";
        // initializeSession();

      }else{
        alert(error.message);
      }


    }
}



</script>


<script type="text/javascript">
  function handleJoinSession(){
    initializeSession();

    joinBtnContainer.style.display = "none";
    leaveBtnContainer.style.display = "initial";



  }



  function handleLeaveSession(){

    joinBtnContainer.style.display = "initial";
    leaveBtnContainer.style.display = "none";

    session.disconnect();



  }

stopvideo.onclick = function () {
  videoOff();


}

startvideo.onclick = function(){
  videoon();
}


  function videoon(){
    tmp.publishVideo(true);

    stopvideo.style.display = "initial";
    startvideo.style.display = "none";




  }

  function videoOff(){
    tmp.publishVideo(false);

    stopvideo.style.display = "none";
    startvideo.style.display = "initial";


  }


// subscriber.on("videoDisabled", function(event) {
//   // You may want to hide the subscriber video element:
//   domElement = document.getElementById(subscriber.id);
//   domElement.style["visibility"] = "hidden";

//   // You may want to add or adjust other UI.
// });

document.getElementById("copy-button").addEventListener("click", function(e) {
  e.preventDefault();

  var copied;
  document.getElementById("copy-room-name").select();

  try {
    copied = document.execCommand("copy");
  } catch (e) {
    copied = false;
  }

  if (copied) {
    document.getElementById("copy-button").innerHTML = "Saved to Clipboard!"
  }
});



</script>


<style type="text/css">
  
.OT_subscriber{
  display: inline-block;
}

#publisher, #subscribers {
    /*display: inline-block;*/
    float: left;
}



.OT_subscriber, .OT_publisher {
    border-radius: 20px;
    margin-right: 8px;
    box-shadow: 8px 0px 20px rgba(0,0,0,0.2);
    margin-bottom: 8px;
}

#stopvideo {
  margin-top: 10px;
}




</style>

<script type="text/javascript">
  
// OT.checkScreenSharingCapability(function(response) {
//   if(!response.supported || response.extensionRegistered === false) {
//     // This browser does not support screen sharing
//     alert("no screen sharing available");
//   }
// });





</script>




