<!DOCTYPE html>
<html>
  <head>
    <title>Netset conference</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application' %>
    <%= render 'application/favicon' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash_alerts' %>
    <%= yield %>
    <%= yield :page_js %>
  </body>
</html>
